body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    color: #212121;
}

.status {
    margin: 4rem;
    text-align: center;
}

.done {
    background-color: #F5F5F5;
}

.running {
    background-color: #90CAF9;
}
